<div class="footer">
	<nav class="navbar navbar-light bg-light pt-5">
		<div class="container">
			<div>
				<a class="navbar-brand" href="/"><span class="logo">Orchard</span></a>
			</div>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">FOR DEMONSTRATION PURPOSES ONLY!</a>
				</li>
			</ul>
<!-- 			<div class="nav navbar-nav navbar-expand-sm navbar-right">
			  <a href="tel:{% include custom-or-default-phone.html %}">
			    {% include custom-or-default-phone.html %}
			  </a>
			</div> -->
		</div>
	</nav>
</div>