<nav class="navbar navbar-expand-md navbar-light bg-transparent">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="/">
      <span class="logo">Orchard</span>
    </a>

    <div class="collapse navbar-collapse" id="navbarToggler">

      <ul class="navbar-nav ml-auto">
        {% if page.url != '/' %}
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        {% endif %}

<!--         <li class="nav-item">
          <a class="nav-link" href="#">How to Invest</a>
        </li>
 -->
        <li class="nav-item">
          <a class="nav-link" href="#">Our Projects</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
   
        <li class="nav-item">
          {% include contact-link-and-modal.html %}
        </li>

        <li class="nav-item">
          <button type="button" class="btn btn-outline-primary mb-3 hidden-MD-LG-XL">
            <img src="{{'/assets/feathericons/phone.svg' | prepend: site.baseurl}}">
            Talk to a Live Person
          </button>
        </li>
      </ul>
    </div>

    <div class="nav navbar-nav navbar-expand-sm navbar-right">
<!--       <a href="tel:{% include custom-or-default-phone.html %}">
        <button type="button" class="btn btn-outline-primary">
          <img src="{{'/assets/feathericons/phone.svg' | prepend: site.baseurl}}">
          Talk to a Live Person
        </button>
 -->      </a>
       <a href="#">
        <button type="button" class="btn btn-primary ml-2 HowToInvestButton">
          How to Invest
        </button>
        <button type="button" class="btn btn-sm btn-primary HowToInvestButtonSmall">
          How to Invest
        </button>
      </a> 
    </div>
  </div>
</nav>