<nav class="navbar navbar-expand-md navbar-light bg-transparent">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="/">
      <span class="logo">Orchard</span>
    </a>

    <div class="collapse navbar-collapse" id="navbarToggler">

      <ul class="navbar-nav ml-auto">
        {% if page.url != '/' %}
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link" href="#">How to Invest</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Our Projects</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
   
        <li class="nav-item">
          {% include contact-link-and-modal.html %}
        </li>
      </ul>
    </div>

    <div class="nav navbar-nav navbar-expand-sm navbar-right">
      <a href="tel:{% include custom-or-default-phone.html %}">
        <button type="button" class="btn btn-sm btn-outline-dark">
          <img src="{{'/assets/feathericons/phone.svg' | prepend: site.baseurl}}">
          {% include custom-or-default-phone.html %}
        </button>
      </a>
    </div>
  </div>
</nav>