$theme-colors: (
  "custom-color": #996800
);

// $enable-shadows: true;
// $enable-gradients: true;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../materialize-src/sass/components/waves";