$theme-colors: (
  "custom-color": #374037,
  "primary": #374037,
  "primary-dry": #474F47
);

// $enable-shadows: true;
// $enable-gradients: true;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../materialize-src/sass/components/waves";