---
---

@import "variables";
@import "bootstrap/scss/bootstrap";

// Couldn't get this to work:
// .btn {
// 	@extend .waves-effect;
// 	@extend .waves-light;
// }

.display-1 {
	font-family: "CaslonGraphiqueEF", "Superior Title Black", Georgia, serif;
}

h1 {
	color: theme-color("custom-color");
}

h2 {
	color: theme-color-level(custom-color, -5);
}

h3 {
	color: theme-color-level(custom-color, -10);
}

.how-it-works {
	// text-shadow: 0 4px 5px rgba(0, 0, 0, 0.14), 0 1px 10px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.3);
}

.secondary-block {
	background: theme-color("secondary-light");
}

@include media-breakpoint-up(sm) {
	.hidden-MD-LG-XL {
		display: none;
	}
	.HowToInvestButtonSmall {
		display: none;
	}
	.logo {
		font-family: "CaslonGraphiqueEF", "Superior Title Black", Georgia, serif;
		font-size: 1.8rem;
		color: theme-color("custom-color");
	}
	}

@include media-breakpoint-down(sm) {
	.hidden-XS-SM{
		display: none;
	}
	.HowToInvestButton {
		display: none;
	}
	.HowToInvestButtonSmall {
		display: flex;
	}
}

@include media-breakpoint-only(sm) {
  .logo {
  	font-family: "CaslonGraphiqueEF", "Superior Title Black", Georgia, serif;
  	font-size: 1.5rem;
  	color: theme-color("custom-color");
  }
  .nav {
  	font-size: 0.8rem;
  }
}

@include media-breakpoint-only(xs) {
	.logo {
		font-family: "CaslonGraphiqueEF", "Superior Title Black", Georgia, serif;
		font-size: 1.3rem;
		color: theme-color("custom-color");
	}
	.nav {
		font-size: 0.7rem;
	}
}



// Copy-paste from Materialize: _global.scss
html {
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;
}

// Z-levels
.z-depth-0 {
  box-shadow: none !important;
}
.z-depth-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.z-depth-1-half {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}
.z-depth-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.z-depth-3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}
.z-depth-4 {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.z-depth-5 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.hoverable {
  transition: box-shadow .15s;

  &:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}