---
---

@import "variables";
@import "bootstrap/scss/bootstrap";


h1 {
	color: theme-color("custom-color");
}

h2 {
	color: theme-color-level(custom-color, -5);
}

h3 {
	color: theme-color-level(custom-color, -10);
}