<!doctype html>
<html lang="en">
<head>
	<!-- Bootstrap-required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="/assets/main.css">
	<title>
		Hello, world!
	</title>
</head>

<body>
	<h1>Hello, world!</h1>

	{{ content }}

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/node_modules/popper.js/dist/popper.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
</body>
</html>